{% extends "container.html" %}

{% block body %}
    <div>
        <h1> Management and operation of data</h1>
        <br>
        <h3>Le projet</h3>
        <br>
        <p class="justify">De nos jours, on constate l’émergence d'une grande quantité de données incertaines produite par plusieurs types d’applications. Cela devient un vrai défi car la gestion de ce type de donnée, sachant que les méthodes classiques et conventionnelles qui sont utilisées pour l’indexation des données dans les systèmes de gestion de bases de données traditionnelles ne sont pas adaptées pour traiter ce type de donnée.
            C’est dans ce contexte que l’équipe du  laboratoire LIPADE de l’université Paris Descartes a proposé une approche de la gestion efficace de données catégorielles incertaines en environnement distribué. Cette approche inclut une structure d’index distribué de données incertaines et d’un algorithme d‘évaluation de requêtes. Cette approche sera présentée de manière plus détaillée dans la suite du rapport.</p>

        <h3> L'équipe </h3>
            <div class="row">
                <div class="col-sm-6 center">
                    <h3>
                        Yassine Jamil
                    </h3>
                    <a target="_blank" href="https://www.linkedin.com/in/yassine-jamil-4b02a594?trk=nav_responsive_tab_profile_pic">
                        <input type="image"
                               id="yassine"
                               class="profile_picture"
                               src="https://media.licdn.com/media/p/4/005/09b/334/191501a.jpg"/>
                    </a>
                </div>
            </div>
        <h3> Les porteurs du projet</h3>
            <div class="col-sm-6 center">
                <h3>
                    Mr. Adel Benaissa
                </h3>
                <a target="_blank" href="https://www.linkedin.com/in/benaissa-adel-4b772644">
                    <input type="image"
                           id="adel"
                           class="profile_picture"
                           src="https://media.licdn.com/media/p/8/005/019/36b/0805188.jpg"/>
                </a>
            </div>
    </div>

{% endblock %}
