<!DOCTYPE html>
<html lang="en">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/SRCDT.css') }}">

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"> </script>
<script src="{{ url_for('static', filename='bootstrap/jquery-2.2.4.min.js') }}"> </script>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> CasaTransports </title>
    <meta name="author" content="Yassine JAMIL" />
    <meta name="keywords" content="CasaTransport, CasaTransports, bielletique, SDC, SDD" />
    <meta name="description" content="Solution Reporting de Données CasaTransports" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0" />

</head>


<div class="container" role="main" id="main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- si non connecter faire ... si connecter faire ...-->
            {% if not session.connexion %}
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" href="{{ url_for('home') }}">SRDCT</a>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Bienvenue {{ session.user }}</a>

                {% if active == "tableinspectormonth" %}
                    <li id="tableinspectormonth" class="active">
                {% else %}
                    <li id="tableinspectormonth" class="">
                {% endif %}
                        <a class="navbar-brand" href="{{ url_for('tableinspectormonth') }}"> Inspector_month </a>
                    </li>

                {% if active == "tableinspectoryear" %}
                    <li id="tableinspectoryear" class="active">
                {% else %}
                    <li id="tableinspectoryear" class="">
                {% endif %}
                        <a class="navbar-brand" href="{{ url_for('tableinspectoryear') }}"> Inspector_year </a>
                    </li>
                </ul>

            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if not session.connexion %}
                    <a  href="{{ url_for('db_connect') }}">
                        <button id="btn_connect"  type="button" class="btn btn-lg btn-connect">
                            Connexion
                        </button>
                    </a>
                {% else %}
                    <a href="{{ url_for('db_disconnect') }}">
                        <button id="btn_disconnect" type="button" class="btn btn-lg btn-connect" >
                            Deconnexion
                        </button>
                    </a>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block container %}
    {% endblock %}
    <nav class="footer modal-footer">
        <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="http://casatransport.ma/appels-d-offres/">Appels d'offres</a>
            <a class="navbar-brand" href="http://casatransport.ma/category/actualites/">Actualités</a>
            <a class="navbar-brand" href="http://casatransport.ma/presse/communique-de-presse/">Presse</a>
            <a class="navbar-brand" href="http://casatransport.ma/contact/">Contact</a>
        </ul>
    </nav>
</div>

