<!DOCTYPE html>

<!--
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/GIDI.css') }}">

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"> </script>
<script src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}"> </script>
-->

    <title> CasaTransports </title>

<div>
    {% block container %}
    {% endblock %}
</div>

