{% extends "container.html" %}
{% block body %}
    <div class="container" id="db_connect_form">
        <form class="form-signin center" action="{{ url_for('tableinspectormonth') }}" method=post>
            <h2 class="form-signin-heading"> Le mois voulu :  </h2>
            <div class="upspace">
            <label for="mois" class="sr-only">mois/annee</label>
            <input type="month" id="mois" name="mois">
            </div>
            <button class="btn btn-lg btn-connect btn-block" type="submit">GO</button>
        </form>
    </div>
{% endblock %}