{% extends "container.html" %}
{% block body %}
    <div class="container" id="db_connect_form">
        <form class="form-signin center" action="{{ url_for('tableinspectoryear') }}" method=post>
            <h2 class="form-signin-heading"> Choisissez le mode voulu:  </h2>
            <div class="font-large upspace">
                <input type="radio" name=choice value="0" onClick="show()" /> Tableau
                <input type="radio" name=choice value="1" onClick="show()" /> Graph annuel
                <input type="radio" name=choice value="2" onClick="hide()" checked/> Graph général
            </div>
            <label for="annee" class="sr-only">Annee souhaiter</label>
            <input type="text" id="annee" name="annee" class="form-control" placeholder="Entrez l'année" style="display: none">

            <button class="btn btn-lg btn-connect btn-block" type="submit">GO</button>
        </form>
    </div>
    <script type="text/javascript">
        var show = function () {
            $("#annee").show()
                .prop('required',true);
        }
        var hide = function () {
            $("#annee").hide()
                .prop('required',false);
        }
    </script>
{% endblock %}
